# Loading data into database

## Load USAID Data
- Load flat CSV Files into the database

## Load Geospatial Data into the dabase
The purpose of this notebook is to load files into the database for future querying and analytical development.

In [2]:
import os

import pandas as pd
import numpy as np

In [3]:
%matplotlib inline

In [4]:
# Primary Dataset
lc_data = pd.read_csv("final_data/contraceptive_logistics_data.csv")
lcd_date_dict = dict(year = lc_data.year,
                     month = lc_data.month,
                     day = [28]*len(lc_data))
lc_data['year_month']  = pd.to_datetime(lcd_date_dict)
lc_data.to_csv("lc_data.csv",index=False)
lc_data.head()

,year,month,region,district,site_code,product_code,stock_initial,stock_received,stock_distributed,stock_adjustment,stock_end,average_monthly_consumption,stock_stockout_days,stock_ordered,year_month
0,2019,1,INDENIE-DJUABLIN,ABENGOUROU,C4001,AS27134,75,0,21,-54,0,18,0,100.0,2019-01-28
1,2019,1,INDENIE-DJUABLIN,ABENGOUROU,C4001,AS27132,3,0,3,0,0,2,0,10.0,2019-01-28
2,2019,1,INDENIE-DJUABLIN,ABENGOUROU,C4001,AS27000,0,75,22,0,53,9,0,0.0,2019-01-28
3,2019,1,INDENIE-DJUABLIN,ABENGOUROU,C4001,AS27137,2,0,0,0,2,0,0,0.0,2019-01-28
4,2019,1,INDENIE-DJUABLIN,ABENGOUROU,C4001,AS27138,45,0,2,0,43,1,0,0.0,2019-01-28

In [5]:
ccm_data = pd.read_csv("final_data/contraceptive_case_data_monthly.csv")
ccm_date_dict = dict(year = ccm_data.year,
                     month = ccm_data.month,
                     day = [28]*len(ccm_data))
ccm_data['year_month']  = pd.to_datetime(ccm_date_dict)
ccm_data.to_csv("ccm_data.csv",index=False)
ccm_data.head()

,district,month,year,implant_women_old,implant_women_new,injection2_women_old,injection2_women_new,injection3_women_old,injection3_women_new,pill_women_old,...,implant_number_received,injection2_number_received,injection3_number_received,pill_number_received,iud_stock_end,implant_stock_end,injection2_stock_end,injection3_stock_end,pill_stock_end,year_month
0,ABENGOUROU,1,2019,478.0,91.0,103.0,17.0,1278,296,195.0,...,319.0,33.0,1244.0,2846.0,NaN,422.0,NaN,1501.0,3466.0,2019-01-28
1,ABENGOUROU,2,2019,340.0,81.0,126.0,10.0,1237,253,187.0,...,255.0,17.0,1174.0,2608.0,NaN,394.0,NaN,1535.0,3327.0,2019-02-28
2,ABENGOUROU,3,2019,367.0,59.0,14.0,7.0,1300,224,147.0,...,214.0,50.0,1050.0,2148.0,NaN,340.0,NaN,1187.0,3636.0,2019-03-28
3,ABENGOUROU,4,2019,583.0,46.0,6.0,1.0,1296,336,200.0,...,217.0,55.0,824.0,1787.0,NaN,340.0,NaN,889.0,2727.0,2019-04-28
4,ABENGOUROU,5,2019,407.0,60.0,46.0,20.0,1356,281,156.0,...,321.0,256.0,1032.0,1635.0,NaN,355.0,NaN,604.0,1668.0,2019-05-28

In [6]:
cca_data = pd.read_csv("final_data/contraceptive_case_data_annual.csv")
cca_data.head()

,district,year,implant_women_old,implant_women_new,injection2_women_old,injection2_women_new,injection3_women_old,injection3_women_new,pill_women_old,pill_women_new,...,iud_number_received,implant_number_received,injection2_number_received,injection3_number_received,pill_number_received,iud_stock_end,implant_stock_end,injection2_stock_end,injection3_stock_end,pill_stock_end
0,ABENGOUROU,2018,3298.0,965.0,2997.0,749.0,10892,2609,1867.0,425.0,...,673.0,2435.0,8799.0,12890.0,35961.0,NaN,3167.0,NaN,16041.0,48097.0
1,ABENGOUROU,2017,2597.0,698.0,2125.0,588.0,9939,2480,1835.0,400.0,...,544.0,1760.0,9920.0,12727.0,31260.0,NaN,2617.0,NaN,16403.0,41079.0
2,ABENGOUROU,2016,865.0,408.0,2616.0,786.0,8407,2440,2675.0,439.0,...,436.0,1503.0,11407.0,12666.0,28256.0,NaN,1671.0,NaN,8561.0,20878.0
3,ABOBO EST,2018,4041.0,2234.0,2200.0,583.0,13504,3940,2959.0,673.0,...,1154.0,3309.0,2241.0,9914.0,7426.0,NaN,3092.0,NaN,9359.0,9046.0
4,ABOBO EST,2017,1954.0,2491.0,1768.0,214.0,10745,2389,3506.0,679.0,...,2780.0,4009.0,5846.0,11784.0,13191.0,NaN,2596.0,NaN,6359.0,11711.0

In [7]:
site_data = pd.read_csv("final_data/service_delivery_site_data.csv")
site_data.head()

,site_code,site_type,site_region,site_district,site_latitude,site_longitude
0,C1399,Health Center,ABIDJAN 2,COCODY-BINGERVILLE,5.352721,-3.940210
1,C4001,Hospital,INDENIE-DJUABLIN,ABENGOUROU,6.730937,-3.483863
2,C1004,Hospital,AGNEBY-TIASSA-ME,AGBOVILLE,5.928340,-4.211450
3,C4002,Hospital,BOUNKANI-GONTOUGO,BONDOUKOU,8.041860,-2.798370
4,C2002,Hospital,MARAHOUE,BOUAFLE,6.984120,-5.751980

In [8]:
product_data = pd.read_csv("final_data/product.csv")
product_data.head()

,product_code,product_type,product_name
0,AS17005,Female Condom,PRESERVATIF FEMININ UNITE
1,AS46000,Male Condom,PRESERVATIF MASCULIN BTE/144 BOITE
2,AS27139,Emergency Contraceptive (Pill),LEVONORGESTREL 1.5 MG CP BOITE
3,AS27137,Contraceptive Implant,JADELLE (IMPLANT + TROCARD) 150 µG BTE/10 BOITE
4,AS27138,Contraceptive Implant,IMPLANON IMPLANT 68 MG BTE/1 BOITE

In [9]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [10]:
def get_posgres_connection():
    db_name = os.getenv("PSQL_DB_NAME")
    db_user = os.getenv("PSQL_DB_USER")
    db_password = os.getenv("PSQL_DB_PASSWORD")
    db_host = os.getenv("PSQL_DB_HOST")
    sql_engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:5432/{db_name}')
    return sql_engine

In [11]:
?lc_data.to_sql

### Load data to the database

In [12]:
# Create db engine
psql_engine = get_posgres_connection()

# ci_logistics_contraceptive_cases
lc_data.to_sql('ci_logistics_contraceptive_cases', psql_engine, index=False,if_exists='replace')

# ci_monthly_cases
ccm_data.to_sql('ci_monthly_cases', psql_engine, index=False,if_exists='replace')

# ci_annual_cases
cca_data.to_sql('ci_annual_cases', psql_engine, index=False,if_exists='replace')

# ci_med_products
product_data.to_sql('ci_med_products', psql_engine, index=False,if_exists='replace')

# ci_med_sites
site_data.to_sql('ci_med_sites', psql_engine, index=False,if_exists='replace')

KeyboardInterrupt:

## Load spatial data to the database

In [14]:
# Imports
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *
import pandas as pd
import geopandas as gpd

In [16]:
gdf = gpd.read_file('civ_admbnda_adm3_cntig_ocha_itos_20180706/civ_admbnda_adm3_cntig_ocha_itos_20180706.shp')

gdf.head()

,Shape_Leng,Shape_Area,ADM3_FR,ADM3_PCODE,ADM3_REF,ADM3ALT1FR,ADM3ALT2FR,ADM2_FR,ADM2_PCODE,ADM1_FR,ADM1_PCODE,ADM0_FR,ADM0_PCODE,date,validOn,validTo,geometry
0,1.193760,0.061911,Abengourou,CI200101,None,None,None,Abengourou,CI2001,Indenie-Djuablin,CI20,Côte d'Ivoire,CI,2011-12-24,2018-07-06,None,"POLYGON ((-3.70082 6.77977, -3.69775 6.77833, ..."
1,1.045872,0.045117,Abidjan,CI010101,None,None,None,Abidjan,CI0101,District Autonome D'Abidjan,CI01,Côte d'Ivoire,CI,2011-12-24,2018-07-06,None,"POLYGON ((-3.96967 5.46470, -3.96803 5.46311, ..."
2,1.097566,0.042344,Abigui,CI270201,None,None,None,Dimbokro,CI2702,N'Zi,CI27,Côte d'Ivoire,CI,2011-12-24,2018-07-06,None,"POLYGON ((-4.84054 6.86701, -4.81972 6.88024, ..."
3,1.360062,0.052789,Aboisso,CI300101,None,None,None,Aboisso,CI3001,Sud-Comoe,CI30,Côte d'Ivoire,CI,2011-12-24,2018-07-06,None,"POLYGON ((-3.31306 5.63700, -3.31242 5.63626, ..."
4,0.712925,0.018852,Aboisso-Comoé,CI240301,Aboisso-Comoe,None,None,Alépé,CI2403,Me,CI24,Côte d'Ivoire,CI,2011-12-24,2018-07-06,None,"POLYGON ((-3.42471 5.74856, -3.42353 5.74838, ..."

##### Get SRID

In [13]:
from osgeo import ogr
driver = ogr.GetDriverByName('ESRI Shapefile')
shape = driver.Open('civ_admbnda_adm3_cntig_ocha_itos_20180706/civ_admbnda_adm3_cntig_ocha_itos_20180706.shp')
layer= shape.GetLayer()
# the crs
crs = layer.GetSpatialRef()

# from Geometry
feature = layer.GetNextFeature()
geom = feature.GetGeometryRef()
print(crs)

GEOGCS["WGS 84",
    DATUM["WGS_1984",
        SPHEROID["WGS 84",6378137,298.257223563,
            AUTHORITY["EPSG","7030"]],
        AUTHORITY["EPSG","6326"]],
    PRIMEM["Greenwich",0,
        AUTHORITY["EPSG","8901"]],
    UNIT["degree",0.0174532925199433,
        AUTHORITY["EPSG","9122"]],
    AXIS["Latitude",NORTH],
    AXIS["Longitude",EAST],
    AUTHORITY["EPSG","4326"]]

In [15]:
def load_shape_file_to_db(shape_file,table,engine,geom_type ='MULTIPOLYGON',if_exists ='replace',srid = 4326):
    """
    This function will load a shape file to a PostGIS database system.
    shape_file str: path to shapefile
    table str:name of database file to load to POSTGIS
    engine sqlalchemy.Engine: A sqlAlchemy POSTGIS Engine Object
    if_exists str: method of upload to database, default is "replace"
    srid int: format ID of shape files, this can be discovered by using the
    
    """
    # Load shape file with geopandas
    gdf = gpd.read_file(shape_file)

    #Convert geometry column to WKTElement
    gdf['geom'] = gdf['geometry'].apply(lambda x: WKTElement(x.wkt, srid= 4326))


    #drop the geometry column as it is now duplicative
    gdf.drop('geometry', 1, inplace=True)

    # Use 'dtype' to specify column's type
    # For the geom column, we will use GeoAlchemy's type 'Geometry'
    gdf.to_sql(table, engine, if_exists= if_exists, index=False, 
                             dtype={'geom': Geometry(geom_type, srid= 4326)})
    return None

In [ ]:
# district

#Establish a postgres connection
psql_engine = get_posgres_connection()


load_shape_file_to_db('civ_admbnda_adm3_cntig_ocha_itos_20180706/civ_admbnda_adm3_cntig_ocha_itos_20180706.shp',
                      "cdi_shp_adm3",
                      psql_engine,
                      geom_type="POLYGON")